{{- if $.Values.global.installCrs }}
{{- range $secretStore := $.Values.secretStores }}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ $secretStore.name }}
spec:
  provider:
    vault:
      server: {{ $secretStore.server }}
      path: {{ $secretStore.tenant }}
      version: v2
      auth:
        kubernetes:
          mountPath: {{ $secretStore.authMethod }}
          role: {{$secretStore.role }}
          serviceAccountRef:
            name: default
---
{{- end }}
{{- end }}
