{{- if $.Values.installCrs }}
{{- range $cluster := $.Values.clusters }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ printf "cluster-%s" $cluster.name }}
spec:
  refreshInterval: "60s"
  secretStoreRef:
    name: {{ $cluster.secretStore }}
    kind: SecretStore
  target:
    name: {{ printf "cluster-%s" $cluster.name }}
    template:
      engineVersion: v2
      metadata:
        labels:
          argocd.argoproj.io/secret-type: cluster
  dataFrom:
    - extract:
        key: {{ $cluster.key }}
---
{{- end }}
{{- end }}
