replicaCount: 1

image:
  repository: crashntech/talos-dhcp-server
  pullPolicy: IfNotPresent
  tag: 0.1.0

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

hostNetwork: false

securityContext:
  allowPrivilegeEscalation: true
  runAsNonRoot: false
  runAsUser: 0
  runAsGroup: 0
  capabilities:
    add:
      - NET_ADMIN
      - NET_RAW

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}
  # kubernetes.io/hostname: k-root-m2

tolerations:
  - operator: Exists
    effect: NoSchedule

affinity: {}

volumeMounts:
  - mountPath: /var/lib/dhcp/
    name: dhcpd-leases
  - name: config
    mountPath: /etc/dhcp/dhcpd.conf
    subPath: dhcpd.conf
  - name: config
    mountPath: /srv/pxe/talos-1.4.1.ipxe
    subPath: talos-1.4.1.ipxe

service:
  labels: {}
  annotations: {}
    #metallb.universe.tf/ip-allocated-from-pool: int
    #metallb.universe.tf/allow-shared-ip: "somekey"
    #external-dns.alpha.kubernetes.io/hostname: "{{ $.Values.global.ref }}-example-service.example.local"
  type: LoadBalancer
  # sessionAffinity: None
  externalTrafficPolicy: Local
  # loadBalancerIP: 10.171.124.2

existingConfigSecret: ""
config: {}
  # talos-1.4.1.ipxe: |
  #   #!ipxe

  #   kernel http://10.171.124.2/talos/1.4.1/vmlinuz-amd64 slab_nomerge pti=on talos.platform=metal
  #   initrd http://10.171.124.2/talos/1.4.1/initramfs-amd64.xz
  #   boot
  # dhcpd.conf: |
  #   default-lease-time 600;
  #   max-lease-time 7200;
  #   ddns-update-style none;
  #   authoritative;
  #   log-facility local7;
  #   update-conflict-detection true;

  #   subnet 10.244.0.0 netmask 255.255.0.0 {
  #   }

  #   subnet 10.171.123.0 netmask 255.255.255.0 {
  #     range 10.171.123.10 10.171.123.200;
  #     option domain-name-servers 10.171.123.254, 10.171.123.254;
  #     option domain-name "cluster.local";
  #     option subnet-mask 255.255.255.0;
  #     option routers 10.171.123.254;
  #     option broadcast-address 10.171.123.255;
  #     default-lease-time 600;
  #     max-lease-time 7200;
  #     filename "http://10.171.124.2/pxe/talos-1.4.1.ipxe";
  #   }


  #   #host test {
  #   #   #option host-name "{{ $host }}";
  #   #   option dhcp-client-identifier 721099fe-a82b-4006-ba1a-c626be216bba;
  #   #   #hardware ethernet {{ upper $mac }};
  #   #   fixed-address 10.171.124.100;
  #   #}
