apiVersion: v2
name: argo-stack-werf
version: 1.3.2
appVersion: 2.7.4
dependencies:
  - name: argo-cd
    version: 5.36.1
    repository: https://argoproj.github.io/argo-helm
  - name: external-secrets
    version: 0.9.0
    repository: https://charts.external-secrets.io
