apiVersion: v2
name: argo-stack-werf
version: 7.6.10-4
appVersion: 2.12.4
dependencies:
  - name: argo-cd
    version: 7.6.10
    repository: https://argoproj.github.io/argo-helm
  - name: external-secrets
    version: 0.9.0
    repository: https://charts.external-secrets.io
