apiVersion: v2
name: argo-stack-werf
version: 2.8.6
appVersion: 2.8.6
dependencies:
  - name: argo-cd
    version: 5.50.1
    repository: https://argoproj.github.io/argo-helm
  - name: external-secrets
    version: 0.9.0
    repository: https://charts.external-secrets.io
