apiVersion: v2
name: argo-stack-werf
version: 2.9.2
appVersion: 2.9.2
dependencies:
  - name: argo-cd
    version: 5.51.0
    repository: https://argoproj.github.io/argo-helm
  - name: external-secrets
    version: 0.9.0
    repository: https://charts.external-secrets.io
