replicaCount: 1

image:
  repository: crashntech/talos-operator
  pullPolicy: IfNotPresent
  tag: 0.0.5

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

existingConfigSecret: ""
config:
  listen: :8080
  log:
    level: debug
    format: text

service:
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  type: ClusterIP

ingress:
  ingressClassName: int
  secretName: example.domain
  host: talos.example.domain
