{{- if eq (index (.Values) "postgresql-ha").enabled "true" }}
kind: Secret
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-postgresql-ha-postgresql"
data:
  password: {{ .Values.global.secrets.postgresPassword | b64enc }}
  repmgr-password: {{ .Values.global.secrets.repmgrPassword | b64enc }}
type: Opaque

---

kind: Secret
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-postgresql-ha-pgpool"
data:
  admin-password: {{ .Values.global.secrets.pgpoolPassword | b64enc }}
type: Opaque
{{- end }}
