kind: Service
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-pdns-http"
spec:
  ports:
    - name: auth
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: recursor
      protocol: TCP
      port: 8081
      targetPort: 8081
    - name: admin
      protocol: TCP
      port: 8082
      targetPort: 8082
  selector:
    release: "{{ .Release.Name }}-pdns"
  type: ClusterIP

---

kind: Service
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-pdns-dns"
  {{- if .Values.service.labels }}
  labels:
    {{- range $k, $v := .Values.service.labels }}
    {{ $k }}: {{ tpl $v $ | quote }}
    {{- end }}
  {{- end }}
  {{- if .Values.service.annotations }}
  annotations:
    {{- range $k, $v := .Values.service.annotations }}
    {{ $k }}: {{ tpl $v $ | quote }}
    {{- end }}
  {{- end }}
spec:
  ports:
    - name: dns
      protocol: UDP
      port: 53
      targetPort: 5301
  selector:
    release: "{{ .Release.Name }}-pdns"
  type: {{ .Values.service.type }}
  {{- if .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}

---

kind: Service
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-pdns-auth"
spec:
  ports:
    - name: dns
      protocol: UDP
      port: 5300
      targetPort: 5300
  selector:
    release: "{{ .Release.Name }}-pdns"
  type: ClusterIP
