replicaCount: 1

image:
  repository: crashntech/proxmox-operator
  pullPolicy: IfNotPresent
  tag: 0.1.5

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

service:
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"

existingConfigSecret: ""
config:
  {}
  # listen: :8080
  # log:
  #   level: info
  #   format: text
  # clusters:
  #   pve-test:
  #     api_url: https://10.1.24.10:8006/api2/json
  #     api_token_id: root@pam!test
  #     api_token_secret: 9723a534-12eb-4956-8bdc-726f936d9f77
  #     pool: prod
